projects/Example1/.vs/Example1/v15/ipch/AutoPCH/e1ba5eefaf14d05a/OPENDOOR.ipch
projects/Example1/.vs/Example1/v15/ipch/AutoPCH/b5f3212222ee4015/GAMEMODEBASE.ipch
projects/Example1/.vs/Example1/v15/ipch/AutoPCH/ae0442bc14120852/EXAMPLE1GAMEMODEBASE.ipch
projects/Example1/.vs/Example1/v15/ipch/AutoPCH/a12167fb641709db/UDOOR.ipch
projects/Example1/.vs/Example1/v15/ipch/AutoPCH/867957257193d501/EXAMPLE1GAMEMODEBASE.ipch
projects/Example1/.vs/Example1/v15/Solution.VC.db-shm
projects/Example1/.vs/Example1/v15/Browse.VC.opendb
projects/Example1/.vs/Example1/v15/Solution.VC.db-wal
projects/Example1/.vs/Example1/v15/ipch/AutoPCH/89796b80cb065c69/EXAMPLE1.ipch
projects/Example1/.vs/Example1/v15/ipch/AutoPCH/e7f1a07cadeb4e21/ESCAPEGAMEMODEBASE.ipch
projects/Example1/.vs/Example1/v15/ipch/AutoPCH/6b525a24110268cb/GRABBER.ipch
projects/TankGame/enc_temp_folder/*